
/ {
	demo-pmic_a {
		compatible = "demo-chip_a-regulators";
		
		VDD_A: VDD_A {
			regulator-min-microvolt = <100000>;
			regulator-max-microvolt = <3000000>;
		};

		VDD_B: VDD_B {
			regulator-min-microvolt = <100000>;
			regulator-max-microvolt = <200000>;
		};
	};

	demo-pmic_b {
		compatible = "demo-chip_b-regulators";
		
		VDD_C: VDD_C {
			regulator-min-microvolt = <200000>;
			regulator-max-microvolt = <300000>;
		};

		VDD_D: VDD_D {
			regulator-min-microvolt = <300000>;
			regulator-max-microvolt = <400000>;
		};
	};
};
